---
import Layout from "@/layouts/Layout.astro";
import { Coffee } from "lucide-react";
import HomeButton from "../components/ui/HomeButton";
---

<Layout>
  <main
    class="flex min-h-[80vh] flex-col items-center justify-center px-6 text-center"
  >
    <div class="flex flex-col items-center gap-6">
      <Coffee
        className="text-primary h-24 w-24 animate-[bounce_2s_ease-in-out_infinite]"
      />

      <div class="space-y-4">
        <h1 class="text-4xl font-bold sm:text-5xl">404: Page Not Found</h1>

        <p class="text-muted-foreground max-w-md text-lg">
          Hmm, this is awkward. The page you're looking for is taking a coffee
          break. Probably forever.
        </p>
      </div>
      <HomeButton />
    </div>
  </main>
</Layout>
